nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
nav .nav_wrapper {
  width: 80%;
  height: 80px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  border-bottom: 2px solid #3C6255;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.116);
}
@media screen and (max-width: 1129px) {
  nav .nav_wrapper {
    width: 95%;
    height: 100%;
    overflow-y: hidden;
    flex-direction: column;
  }
}
nav .nav_wrapper .nav_brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 1129px) {
  nav .nav_wrapper .nav_brand {
    width: 100%;
    height: 80px;
  }
}
nav .nav_wrapper .nav_brand img {
  border-radius: 50%;
  margin-right: 10px;
}
nav .nav_wrapper .nav_brand h1 {
  color: #3C6255;
}
nav .nav_wrapper .nav_brand h1 span {
  color: #000000;
}
nav .nav_wrapper .nav_item {
  list-style: none;
  display: flex;
}
nav .nav_wrapper .nav_item a {
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease-in-out;
}
nav .nav_wrapper .nav_item a:hover {
  font-weight: bold;
}
@media screen and (max-width: 1129px) {
  nav .nav_wrapper .nav_item {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  }
}
nav .nav_wrapper .button_cv a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  padding: 3px 19px;
  background-color: #3C6255;
  border-radius: 3px;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
nav .nav_wrapper .button_cv a:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
nav .nav_wrapper .button_cv a:active {
  background-color: transparent;
  border: 2px solid #3C6255;
  color: #3C6255;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1129px) {
  nav .nav_wrapper .button_cv {
    display: none;
    width: 100%;
  }
  nav .nav_wrapper .button_cv a {
    display: block;
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
}
nav .nav_wrapper .burger_menu {
  width: 40px;
  height: 30px;
  padding: 3px;
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 3px;
  justify-content: space-around;
  cursor: pointer;
}
@media screen and (min-width: 1129px) {
  nav .nav_wrapper .burger_menu {
    display: none;
  }
}
nav .nav_wrapper .burger_menu span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.container {
  width: 80%;
  margin: auto;
  padding: 188px 88px 88px 88px;
  box-sizing: border-box;
}
@media screen and (max-width: 1095px) {
  .container {
    width: 95%;
    padding: 100px 0 0 0;
  }
}
.container header {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 176px);
}
@media screen and (max-width: 1095px) and (min-width: 768px) {
  .container header {
    justify-content: space-between;
    min-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .container header {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.container header .head_name h1 {
  font-size: 40px;
  font-weight: 700;
}
.container header .head_name h1 #specialist {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 13px;
  background-color: #61876E;
  border-radius: 3px;
  color: white;
  position: relative;
  top: -5px;
}
@media screen and (max-width: 768px) {
  .container header .head_name h1 #specialist {
    font-size: 14px;
  }
}
.container header .head_name p {
  font-size: 12px;
  font-weight: 500;
}
.container header .head_name .link_personal {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  margin: 16px 0;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .container header .head_name .link_personal {
    justify-content: center;
    align-items: center;
  }
}
.container header .head_name .link_personal .hire_me {
  padding: 6px 15px;
  background-color: #3C6255;
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container header .head_name .link_personal .hire_me:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.container header .head_name .link_personal .talk {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  padding: 3px 6px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  box-sizing: border-box;
}
.container header .head_name .contact_github {
  display: flex;
}
.container header .head_name .contact_github div {
  margin-right: 20px;
}
.container header .head_name .contact_github div h5 {
  font-size: 20px;
  font-weight: 700;
}
.container header .head_name .contact_github div p {
  font-size: 14px;
  font-weight: 500;
}
.container header .head_photo {
  width: 334px;
  height: 290px;
  background-image: url(../img/my-photo.jpg);
  background-size: cover;
  background-position-y: -200px;
  border-radius: 3px;
  border: 3px solid #A6BB8D;
}
.container main section {
  padding-top: 90px;
  margin-bottom: 40px;
}
.container main #about .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container main #about .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #61876E;
  margin-right: 21px;
}
.container main #about .description_section {
  display: grid;
  grid-template-areas: "desc desc" "skill listskill";
  grid-template-columns: 100px auto;
  align-items: start;
  column-gap: 20px;
  padding-left: 90px;
}
@media screen and (max-width: 768px) {
  .container main #about .description_section {
    padding: 0 10px;
    grid-template-areas: "desc" "skill" "listskill";
    grid-template-columns: auto;
  }
}
.container main #about .description_section p {
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0;
  grid-area: desc;
}
.container main #about .description_section h1, .container main #about .description_section ul li {
  font-size: 14px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main #about .description_section h1 {
  grid-area: skill;
}
@media screen and (max-width: 768px) {
  .container main #about .description_section h1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}
.container main #about .description_section ul {
  list-style: none;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-area: listskill;
}
.container main #about .description_section ul li {
  background-color: #61876E;
  padding: 2px 10px;
  color: white;
  border-radius: 3px;
}
.container main #experience .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container main #experience .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #61876E;
  margin-right: 21px;
}
.container main #experience .description_section {
  padding-left: 90px;
  display: grid;
  grid-template-areas: "education experience";
  grid-template-columns: repeat(auto-fit, 1fr);
}
@media screen and (max-width: 768px) {
  .container main #experience .description_section {
    padding: 0 10px;
    grid-template-areas: "education" "experience";
    justify-content: center;
  }
}
.container main #experience .description_section .education {
  grid-area: education;
}
.container main #experience .description_section .education h6 {
  font-size: 16px;
  font-weight: 700;
}
.container main #experience .description_section .education p {
  font-size: 12px;
  font-weight: 600;
}
.container main #experience .description_section .education p span {
  opacity: 0.5;
}
.container main #experience .description_section .education > h6 {
  margin: 15px 0;
}
.container main #experience .description_section .education ul {
  position: relative;
}
.container main #experience .description_section .education ul::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 3px;
  height: calc(100% - 32px);
  background-color: #EAE7B1;
  z-index: 999;
}
.container main #experience .description_section .education ul li {
  padding-left: 20px;
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
.container main #experience .description_section .education ul li > span {
  position: absolute;
  padding: 2px;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #A6BB8D;
}
.container main #experience .description_section .education ul li > span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #EAE7B1;
}
.container main #experience .description_section .experience {
  grid-area: experience;
}
.container main #experience .description_section .experience h6 {
  font-size: 16px;
  font-weight: 700;
}
.container main #experience .description_section .experience p {
  font-size: 12px;
  font-weight: 600;
}
.container main #experience .description_section .experience p span {
  opacity: 0.5;
}
.container main #experience .description_section .experience > h6 {
  margin: 15px 0;
}
.container main #experience .description_section .experience ul {
  position: relative;
}
.container main #experience .description_section .experience ul::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 3px;
  height: calc(100% - 32px);
  background-color: #EAE7B1;
  z-index: 999;
}
.container main #experience .description_section .experience ul li {
  padding-left: 20px;
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
.container main #experience .description_section .experience ul li > span {
  position: absolute;
  padding: 2px;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #A6BB8D;
}
.container main #experience .description_section .experience ul li > span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #EAE7B1;
}
.container main #certification .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container main #certification .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #61876E;
  margin-right: 21px;
}
.container main #certification .description_section {
  margin-top: 52px;
  padding-left: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container main #certification .description_section .card {
  height: 173px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
}
.container main #certification .description_section .card .card_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  background-color: white;
  color: black;
  text-decoration: none;
  height: 30%;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container main #certification .description_section .card .card_detail .judul {
  font-size: 14px;
  font-weight: 700;
}
.container main #certification .description_section .card .card_detail .from {
  font-size: 10px;
  font-weight: 500;
  opacity: 75%;
}
.container main #certification .description_section .card:hover .card_detail {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .container main #certification .description_section {
    padding: 0 10px;
  }
}
.container main #certification .description_section .card.one {
  background-image: url(../img/certification1.jpg);
}
.container main #certification .description_section .card.two {
  background-image: url(../img/certification2.jpg);
}
.container main #portfolio .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container main #portfolio .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #61876E;
  margin-right: 21px;
}
.container main #portfolio .description_section {
  margin-top: 52px;
  padding-left: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container main #portfolio .description_section .card {
  height: 173px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
}
.container main #portfolio .description_section .card .card_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  background-color: white;
  color: black;
  text-decoration: none;
  height: 30%;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container main #portfolio .description_section .card .card_detail .judul {
  font-size: 14px;
  font-weight: 700;
}
.container main #portfolio .description_section .card .card_detail .from {
  font-size: 10px;
  font-weight: 500;
  opacity: 75%;
}
.container main #portfolio .description_section .card:hover .card_detail {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}
.container main #portfolio .description_section .one {
  background-image: url(../img/mallexibra.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .two {
  background-image: url(../img/IB-Software.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .three {
  background-image: url(../img/bookself.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .four {
  background-image: url(../img/bikinweb.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .five {
  background-image: url(../img/todolist.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .six {
  background-image: url(../img/linktree.png);
  background-size: cover;
  background-position: 0;
}
@media screen and (max-width: 768px) {
  .container main #portfolio .description_section {
    padding: 0 10px;
  }
}
.container main #portfolio .description_section .type {
  width: max-content;
  font-size: 10px;
  font-weight: 500;
  padding: 0 2px;
  border-radius: 3px;
  background-color: #A6BB8D;
}
.container main #find_me h1 {
  font-size: 16px;
  font-weight: 700;
  width: max-content;
  margin: auto;
  position: relative;
}
.container main #find_me h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #EAE7B1;
  z-index: -1;
}
.container main #find_me ul {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 10px;
  list-style: none;
}
.container main #find_me ul a:hover {
  filter: brightness(200%);
}
.container main #find_me ul a:hover img {
  transform: scale(1.2);
}

footer {
  background-color: #EAE7B1;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #3C6255;
}
@media screen and (max-width: 768px) {
  footer .container {
    padding: 0 10px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
footer .container .footer_left {
  width: 40%;
}
footer .container .footer_left h2 {
  font-size: 40px;
  font-weight: 700;
}
footer .container .footer_left p {
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
}
@media screen and (max-width: 768px) {
  footer .container .footer_left {
    width: 90%;
    margin: 50px auto 0 auto;
  }
}
footer .container .footer_right {
  width: 40%;
}
footer .container .footer_right p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
}
footer .container .footer_right iframe {
  border-radius: 3px;
  border: 3px solid #3C6255;
  position: relative;
}
@media screen and (max-width: 768px) {
  footer .container .footer_right {
    width: 90%;
    margin: 0 auto 50px auto;
  }
}

.toggle_theme {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #39403E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 36px;
  right: 36px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.swipe_up {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #3C6255;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 36px;
  right: 36px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */