@use 'variabel' as var;
@use 'mixin' as func;

nav{
    position: fixed;
    top: 0; left: 0; right: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    .nav_wrapper{
        width: 80%;
        height: 80px;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        border-radius: 3px;
        border-bottom: 2px solid var.$color_primary;
        box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.116);
        @media screen and (max-width: 768px) {
                width: 95%;
                height: 100%;
                overflow-y: hidden;
                flex-direction: column;
        }
        .nav_brand{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: 80px;
            }
            img{
                border-radius: 50%;
                margin-right: 10px;
            }
            h1{
                color: var.$color_primary;
                span{
                    color: var.$color_dark;
                }
            }
        }
        .nav_item{
            list-style: none;
            display: flex;
            a{
                display: inline-block;
                padding: 0 10px;
                text-decoration: none;
                color: var.$color_dark;
                transition: all 0.2s ease-in-out;
            }
            a:hover{
                font-weight: bold;
            }
            @media screen and (max-width: 768px) {
                display: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 20vh;
            }
        }
        .button_cv{
            a{
                display: inline-block;
                text-decoration: none;
                @include func.button(var.$color_light, var.$color_primary, 800);
            }
            a:hover{
                @include func.buttonhover();
            }
            a:active{
                @include func.buttonclick(var.$color_primary);
            }
            @media screen and (max-width: 768px) {
                display: none;
                width: 100%;
                a{
                    display: block;
                    width: 80%;
                    margin: 20px auto;
                    text-align: center;
                }
            }
        }
        .burger_menu{
            width: 40px;
            height: 30px;
            padding: 3px;
            position: absolute;
            top: 20px; right: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-radius: 3px;
            justify-content: space-around;
            cursor: pointer;
            @media screen and (min-width: 768px) {
                display: none;
            }
            span{
                display: block;
                width: 100%;
                height: 4px;
                background-color: black;
                border-radius: 2px;
                &:nth-child(2){
                    width: 70%;
                }
                &:nth-child(3){
                    width: 50%;
                }
            }
        }
    }
}
